body{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 14px;
    font-weight: 400;
}

/* Webstudio */
.web-studio{
    text-decoration: none;
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;

    /*
     EJEMPLO PARA HACER EL INTERLINEADO
     font-size:26px, line-weight: 30.52px
     ---> multiplicador = ( 30.52 / 26 ) = 1.17
    */

    /* line-height: 1.17; */
}

#title-h1{
    font-size: 40px;
    font-weight: 900;
}

#sec-1{
    background-color: #212121;
    color: aliceblue;
}

.ul-1{
    list-style-type: none;
}

.ul-1 .links-1{
    outline: none;
    text-decoration: none;
    color:#212121   
}

.links-1:hover {
    color: #2196F3
}

.links-1:focus {
    color:orange
}

.p-active {
    outline: none;
    text-decoration: none;
    color: #2196F3
}

#ul-2-header > li{
    list-style-type: none;
}

#ul-2-header > li > a {
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: #757575
}

#ul-2-header>li>a:hover {
    color: #2196F3
}

#ul-2-header>li>a:focus {
    color: orange
}

.u-list-1 > li{
    list-style-type: none;
}

#boton1{
    background-color: #2196F3;
    color: aliceblue;
    border: none;
    width: 175px;
    height: 50px;
    border-radius: 4px;
}

.ul-1-buttons{
    height: 38px;
    cursor: pointer;
    cursor: hand;
    border-radius: 4px;
    border: none;
}

.ul-1-buttons:hover {
    color: aliceblue;
    background-color: #2196F3;
}

#img-list, #our-team-list{
    list-style-type: none;
}

.u-list-2>li>h3{
    font-size: 18px;
    font-weight: 700;
}

.u-list-2>li>p {
    font-size: 16px;
    color: #757575;
}

.ul-2-images{
    display: inline;
}

.titles-h2{
    font-size: 36px;
    font-weight: 700;
}

#list-about-us{
    list-style-type: none;
}

#list-about-us>li>h3{
    font-weight: 700;
    text-transform: uppercase;
}

#our-team-list>li>h3{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#our-team-list>li>p {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    text-align: center;
}

.parrafos{
    
    /*
     font-size:14px, line-weight: 24px
     ---> multiplicador = ( 24 / 14 ) = 1.71
    */
    line-height: 1.71;
    color: #757575;
}

.ul-footer>li {
    display: block;
}

.ul-footer>li>a {
    outline: none;
    text-decoration: none;
    color: #8f8b8b;
}

#sec-footer{
    background-color: #212121;
    color: aliceblue;
}